
{% extends 'base.html' %}



{% block header %}
<title>Detail</title>
{% endblock header %}
  

{% block content %}
  

  
    <h1>Detail</h1>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>id</th>
            <th>user</th>
            <th>text</th>
          </tr>
        </thead>
        <tbody>
        
            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.user}}</td>
                <td>{{p.text}}</td>
            </tr>
    

          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr> -->


        </tbody>
      </table>
      <a href="">いいねする</a>
      <a href="{% url 'update' p.id %}">編集する</a>
      <a href="">削除する</a>
      
{% endblock content %}