
{% extends 'base.html' %}



{% block header %}
<title>Index</title>
{% endblock header %}
  

{% block content %}
  

  
    <h1>Index</h1>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>id</th>
            <th>user</th>
            <th>text</th>
          </tr>
        </thead>
        <tbody>
            {% for p in posts %}
            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.user}}</td>
                <td><a href="{% url 'detail' p.id %}" class="text-dark">{{p.text}}</a></td>
            </tr>
            {% endfor %}

          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr> -->


        </tbody>
      </table>
      
{% endblock content %}