
{% extends 'base.html' %}



{% block header %}
<title>Index</title>
{% endblock header %}
  

{% block content %}
  

  
    <h1>Index</h1>

    <div class="jumbotron text-center border border-dark m-3">
      <h1 class="display-3">作成しよう！！</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                      calling extra attention to featured content or information.</p>
      <hr class="my-2">
      <p>It uses utility classes for typography and
         spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Createする</a>
      </p>
    </div>

    {% for p in posts %}
          
      <div class="alert alert-secondary " role="alert">
        <strong>id: {{p.id}}</strong>/
        <strong>user: {{p.user}}</strong> /
        text: {{p.text}}
      </div>
                
    {% endfor %}


      
{% endblock content %}